:root {
  --base-font-size: 16px;

  //color
  --color-white : #fff;
  --color-dark: #000;
  --quill-gray: #e5e5e3;
  --color-gray: #858585;
  --banner-article-color: #e9e4df;
  --color-tundora: #454545;

  //container
  --container-w: 1800px;
  --container-p: 1rem;

}

