.cart {
	width: auto;
	height: auto;
	position: relative;
	&__icon {
		display: inline-block;
		background-image: url("../images/cart.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 1rem;
		height: 1rem;
	}
	&__quantity {
		position: absolute;
		top: 0;
	}
}